.header{
    position: static;
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: deepskyblue;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: auto;
    color: white;
}