.profile_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    margin: 20px auto;
}

@media screen and (min-width: 900px){
    .info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
    }

    .account_info{
        margin-right: 2%;
        width: 40%;
    }

    .about_me{
        width: 55%;
    }

    .game_header, .game_card{
        width: 120%;
    }
}

@media screen and (max-width: 900px){
    .info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
    }

    .account_info{
        width: 100%;
        margin-bottom: 20px;
    }

    .about_me{
        width: 100%;
    }

    .game_header, .game_card{
        width: 70vw;
    }
}


.sign{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 16px 16px 0 16px;
}

.info_box{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 18px;
    margin: 0 16px 16px 16px;
}

.info_element{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0;
}

.info_type{
    font-weight: bold;
}

.about_me{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about_text{
    font-size: 18px;
    text-align: center;
    text-wrap: wrap;
}

.about_buttons{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70vw;
}

.game_header, .game_card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    width: 97%;
    margin-bottom: 10px;
    justify-content: space-between;
}

.history{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.game_header_view{
    width: 25%;
}

.game_id{
    width: 20%;
}

.game_topic{
    width: 45%;
}

.game_description{
    width: 15%;
}

.game_view{
    width: 20%;
}

.game_id, .game_topic, .game_description, .game_view{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
}